engine-strict=true
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
use-node-version=18.18.0
link-workspace-packages=true
shared-workspace-lockfile=true
prefer-workspace-packages=true

