@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义样式 */
@layer base {
  body {
    @apply bg-gray-100 dark:bg-gray-900;
  }
}

@layer components {
  /* 可以添加自定义组件样式 */
}

@layer utilities {
  /* 可以添加自定义工具类 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} 